<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <title>What The Crop Is That?</title>

    <script src="http://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous">
    </script>

    <!-- BOOTSTRAP -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- CUSTOM CSS -->
    <link rel="stylesheet" type="text/css" href="stylesheet.css">

  </head>
    <body>
      <div class="container">

        <!-- Navigation Bar -->
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">WhatTheCropIsThat?</a>
            </div>
            <ul class="nav navbar-nav">
              <li class="active"><a href="./index.html">Lobbies</a></li>
              <li><a href="./seeds.html">Seeds</a></li>
              <li><a href="./about.html">About</a></li>
              <li><input id='ip-address' type="text" placeholder="Enter server IP address"></li>
            </ul>
          </div>
        </nav>

        <div id="page-area">



        </div><!-- /page-area -->
      </div> <!-- /container -->

      <script src="../seed.js" charset="utf-8"></script>
      <script src="../adapters/IpAdapter.js" charset="utf-8"></script>
      <script src="../adapters/CategoryAdapter.js" charset="utf-8"></script>
      <script src="../adapters/GameAdapter.js" charset="utf-8"></script>
      <script src="../adapters/GuessAdapter.js" charset="utf-8"></script>
      <script src="../adapters/UserAdapter.js" charset="utf-8"></script>
      <script src="../adapters/CommentAdapter.js" charset="utf-8"></script>
      <script src="../models/category.js" charset="utf-8"></script>
      <script src="../models/image.js" charset="utf-8"></script>
      <script src="../models/guess.js" charset="utf-8"></script>
      <script src="../models/user.js" charset="utf-8"></script>
      <script src="../models/game.js" charset="utf-8"></script>
      <script src="../models/comment.js" charset="utf-8"></script>
      <script src="../models/form.js" charset="utf-8"></script>
      <script src="../controllers/ApplicationController.js" charset="utf-8"></script>
      <script src="../controllers/SessionController.js" charset="utf-8"></script>
      <script src="../controllers/PageController.js" charset="utf-8"></script>
      <script src="../controllers/DisplayController.js" charset="utf-8"></script>
      <script src="../controllers/GameController.js" charset="utf-8"></script>
      <script src="../controllers/GuessController.js" charset="utf-8"></script>
      <script src="../controllers/CommentController.js" charset="utf-8"></script>
      <script src="../controllers/ImageController.js" charset="utf-8"></script>
      <script src="../app.js" charset="utf-8"></script>

    </body>
</html>
