<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>What The Crop Is That?</title>
    <script src="http://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>

  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <h1 align="center">What The Crop Is That?</h1>

        <div class="col-sm-4">
          <div id="guess-container">
            <h3 align='center'>Guesses Made</h3>
            <div id="guess-list"  class="game-div-js" style="height:400px; width:300px; border:1px solid; overflow:auto;">
            </div>
          </div>
        </div>
        <div class="col-sm-4">

          <div id="alert-banner" class="game-div-js"></div>
          <div id="new-game-container" class="game-div-js"></div>
          <div id="image-container" class="game-div-js" style="height:400px"></div><br>
          <div id="guess-form" class="game-div-js"></div>
        </div>

        <div id="comment-container" class="col-sm-4" padding-top: "20px">
          <div id="comment-container">
            <h3>Trash Talk here:</h3>
            <div id="comment-list" style="height:400px; width:300px; border:1px solid; overflow:auto;">
          </div>
     </div>
          <div class="comment-form"></div>
        </div>
      </div>
    </div>
    </div>
    <div id="seeder" style="display:none;">
      <div id="api-image"></div>
      <div id="load-button">
        <input id="seed-category" type="text" name="category" value="" placeholder="category">
        <input id="load-image" type="submit" name="submit" value="load image">
      </div>
    </div>

      <script src="../seed.js" charset="utf-8"></script>
      <script src="../adapters/CategoryAdapter.js" charset="utf-8"></script>
      <script src="../adapters/GameAdapter.js" charset="utf-8"></script>
      <script src="../adapters/GuessAdapter.js" charset="utf-8"></script>
      <script src="../adapters/UserAdapter.js" charset="utf-8"></script>
      <script src="../models/category.js" charset="utf-8"></script>
      <script src="../models/image.js" charset="utf-8"></script>
      <script src="../models/guess.js" charset="utf-8"></script>
      <script src="../models/user.js" charset="utf-8"></script>
      <script src="../models/game.js" charset="utf-8"></script>
      <script src="../models/comment.js" charset="utf-8"></script>
      <script src="../models/form.js" charset="utf-8"></script>
      <script src="../controllers/ApplicationController.js" charset="utf-8"></script>
      <script src="../controllers/GameController.js" charset="utf-8"></script>
      <script src="../controllers/GuessController.js" charset="utf-8"></script>
      <script src="../controllers/CommentController.js" charset="utf-8"></script>
      <script src="../controllers/ImageController.js" charset="utf-8"></script>
      <script src="../app.js" charset="utf-8"></script>

  </body>
</html>
