body {
    background-color: ;
}

#win-banner {
  background-color: green;
}

#game-name {
  text-align: center;
}

.guesses-comments-image {
  height: 400px;
  width: 300px;
  border:1px solid;
  overflow:auto;
}

.image-js {
  height:400px;
}

#game-image {
  height: 400px;
  width: 300px;
  position: absolute;
  display: none;
}

#row4 {
  padding-top: 10px;
}

#footer {
  text-align: center;
}
