body {
    background-color: ;
    background-image: url('../light-grey-background.jpg');
}

.rounded {
  border-radius: 15px;
}

#win-banner {
  background-color: #3CB371;
  color: white;
  text-align: center;
  width: 500px;
  height: 0 auto;
  padding: 25px;
  margin: 0 auto;
}

#game-name {
  text-align: center;
}

.guesses-comments {
  background-color: #F5F5DC;
  height: 400px;
  width: 300px;
  border:2px solid;
  overflow:auto;
  border-color: grey;
}

.image {
  height: 400px;
  width: 300px;
  border:1px solid;
}

.image-js {
  height:400px;
}

#game-image {
  height: 400px;
  width: 300px;
  position: absolute;
  display: none;
}

#row4 {
  padding-top: 10px;
}

#footer {
  text-align: center;
}
